.container {
    max-width: 1000px;
    margin: 30px auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    padding: 0 30px;
    align-items: center;
}

.locations, .amenities {
    flex-grow: 1;
    margin-right: 30px;
}

h3, h4 {
    margin: 0;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.9;
}