.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations, .amenities {
    width: 25%;
    height: 100%;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.amenities {
    border-right: none;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.filters button:hover {
    opacity: 0.9;
}