.places {
    /* Add styles for places section */
}

.places h1 {
    font-size: 30px;
    margin-left: 20px; /* align in the top left */
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center; /* Center the content */
    position: relative; /* For absolute positioning of price tag */
}

.places h2 {
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    background-color: #FFFFFF;
    border: 4px solid #FF5A5F;
    border-radius: 50%; /* Rounded border */
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px; /* Adjust as per the design */
    right: -10px; /* Adjust as per the design */
}

.information {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0;
}

.information > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
}

.user {
    font-weight: bold;
    padding: 5px 0;
}

.description {
    text-align: justify;
}